
<mat-card class="example-card "  >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{product["title"]}}</mat-card-title>
      <mat-card-subtitle>Company</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="product.image" alt="Photo of a Shiba Inu" align="center">
    <mat-card-content align="center">
      
      <h2 class="product-title">{{product["title"]}}:{{product["brand"]}}</h2>
        <div class="product-text">
        <p>Volume :{{product["volume"]}} mL</p>
        <p>Season :{{product["season"]}} </p>
        <p>Category :{{product["category"]}} </p>
        <p>Prix :{{product["price"]}} DT</p>
      
        </div>
        
    </mat-card-content>
    <mat-card-actions>
      <section>

        <div class="example-button-row" >
          <button mat-flat-button color="primary">Ajouter au panier</button>
       </div>
      </section>
    </mat-card-actions>
  </mat-card>
  