.example-card {
    max-width: 350px;
    display: flex;
    
  }
  img{
    width:280px;
    height: 340px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; /* Pour centrer l'image horizontalement */
  }
  .product-title {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Style du texte de la description */
  .product-text {
    font-size: px;
    color: #666;
    line-height: 1;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 1px;
    min-width: 40px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 1200px;

  }
  
.example-button-row .mat-mdc-button-base {
  margin: 10px 43px;
  font-size: 23px;
  padding: 20px 43px;
}
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center auto;
    width: 120px;
  }
  